@import "vars";

.content {
    a:hover {
        text-decoration: underline;
    }
    ol {
        counter-reset: list;
    }
    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ul > li {
        margin: 5px 0 5px 0;
    }
    ul {
        padding: 0 20px 0 20px;;
    }
    ol {
        padding: 0 30px 0 30px;
    }
    ol > li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
        position: absolute;
        left: -30px;
    }
    blockquote {
        //border: 1px solid black;
        border-left: 5px solid #333333;
        margin: 20px 0 20px 0;
        padding: 2px 8px 2px 8px;
        font-style: italic;
    }
    .profile-picture {
        max-height: 150px; // Ensure the image doesn't exceed this height
        max-width: 150px; // Ensure the image doesn't exceed this width
        width: 100%; // Allow scaling within the max dimensions
        height: auto; // Maintain aspect ratio
        margin: 10px auto; // Center the image with some spacing
        display: block; // Ensure it behaves as a block element
        border-radius: 50%; // Circular cropping
        object-fit: cover; // Ensure the image fits within the circle
        border: 3px solid white; // Optional: Add a white border for better visibility
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // Optional: Add a subtle shadow for aesthetics

        p & {
            padding: 0;
            margin: 0;
        }

        @media (max-width: $small-width) {
            height: 120px; // Adjust size for smaller screens
            width: 120px; // Adjust size for smaller screens
            margin-top: 5px; // Reduce margin for smaller screens
        }
    }
    img {
        text-align: center;
        width: 100%;
    }
}
